[user]
	name = Jens Filipsson
	email = jensfilipsson@gmail.com
[core]
	editor = code --new-window --wait
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
